In [8]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
# city headers ***city, driver_count, type***
# ride headers ***city, date, fare, ride_id***
city_data = "city_data.csv"
ride_data = "ride_data.csv"

# Read the City and Ride Data
City_Data = pd.read_csv(city_data)
Ride_Data = pd.read_csv(ride_data)

# Combine the data into a single dataset
Combined_Data = pd.merge(Ride_Data, City_Data, on='city')

# # Display the data table for preview
Combined_Data.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

## Bubble Plot of Ride Sharing Data

In [9]:
# Average Fare ($) Per City == Calculated on the y_axis
# Total Number of Rides Per City == Calculated on the x_axis
# Total Number of Drivers Per City == Size of the circles
# City Type (Urban, Suburban, Rural) == Created through ledgend and colors

In [10]:
Average_Fair = Combined_Data.groupby("city")["fare"].mean ()
Passenger_Count = Combined_Data.groupby("city")["ride_id"].sum ()
Driver_Count = Combined_Data.groupby("city")["driver_count"].sum ()
City_Type = "Urban, Suburban, Rual Still needs to be formulated!!!!!"

In [11]:
# Obtain the x and y coordinates for each of the three city types 
Color = ["Rual":"Gold", "Suburban": "SkyBlue", "Urban": "Coral"]
city_labels = ["Urban", "Suburban", "Rural"]
legend_color = ["coral", "lightblue", "Gold"] 

# Build the scatter plots for each city types
# x_axis = 
# y_axis =




# Scatterplt_Urban = 
# Scatterplt_Suburban = 
# Scatterplt_Rual = plt.scatter()
# plt.scatter(x_axis, data, marker="o", facecolors= legend_color, s=x_axis, alpha=0.75)
# plt.scatter(rural['Number of Rides'], rural['Average Fare'], s = rural['Number of Drivers']*10,
#              color = city_color['Rural'], edgecolor = 'black', label = 'Rural', alpha = .75)
# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure



##########################################################################################################
########******** GitHub Example ********########
# city_data_to_load = "data/city_data.csv"
# ride_data_to_load = "data/ride_data.csv"
# city_data = pd.read_csv(city_data_to_load)
# ride_data = pd.read_csv(ride_data_to_load)
# fares = ride_data.groupby('city')['fare'].sum()
# rides = ride_data.groupby('city')['city'].count()
# avg = fares / rides
##########################################################################################################
####**** Day 13 -11-Ins_ScatterPlots- ****####
# # The maximum x value for our chart will be 100
# x_limit = 100

# # List of values from 0 to 100 each value being 1 greater than the last
# x_axis = np.arange(0, x_limit, 1)

# # Create a random array of data that we will use for our y values
# data = [random.random() for value in x_axis]



# # Tells matplotlib that we want to make a scatter plot
# # The size of each point on our plot is determined by their x value
# plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
#             s=x_axis, alpha=0.75)
##########################################################################################################

SyntaxError: invalid syntax (<ipython-input-11-5ba264455668>, line 2)

In [12]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()